#Create your dataframe

In [0]:
import pandas as p
d={'name':['ruth','jsaon','vaas','prophet'],'age':[21,23,34,32],'mail':['ruth@gmail.com','jsaon@gmail.com','vaas@gmail.com','prophet@gmai.com'],'ph_no':[432356,7685567,345634,633665]}
df=p.DataFrame(d)
df=df[["name","age","mail","ph_no"]]
print(df)

OP:      name  age              mail    ph_no
0     ruth   21    ruth@gmail.com   432356
1    jsaon   23   jsaon@gmail.com  7685567
2     vaas   34    vaas@gmail.com   345634
3  prophet   32  prophet@gmai.com   633665

#Download a Data Set and perform the task

In [0]:
import pandas as p
df=p.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")
print("the 1st five row is \n",df.head(5))
print("the 10th row is \n",df.head(10))
print("10th row is \n",df.tail(5))
print(df.describe())
print(df.Location.describe())

op:the 1st five row is
         Date  Location  MinTemp      ...       RainToday  RISK_MM  RainTomorrow
0  11/1/2007  Canberra      8.0      ...              No      3.6           Yes
1  11/2/2007  Canberra     14.0      ...             Yes      3.6           Yes
2  11/3/2007  Canberra     13.7      ...             Yes     39.8           Yes
3  11/4/2007  Canberra     13.3      ...             Yes      2.8           Yes
4  11/5/2007  Canberra      7.6      ...             Yes      0.0            No

[5 rows x 24 columns]
the 10th row is
          Date  Location  MinTemp      ...       RainToday  RISK_MM  RainTomorrow
0   11/1/2007  Canberra      8.0      ...              No      3.6           Yes
1   11/2/2007  Canberra     14.0      ...             Yes      3.6           Yes
2   11/3/2007  Canberra     13.7      ...             Yes     39.8           Yes
3   11/4/2007  Canberra     13.3      ...             Yes      2.8           Yes
4   11/5/2007  Canberra      7.6      ...             Yes      0.0            No
5   11/6/2007  Canberra      6.2      ...              No      0.2            No
6   11/7/2007  Canberra      6.1      ...              No      0.0            No
7   11/8/2007  Canberra      8.3      ...              No      0.0            No
8   11/9/2007  Canberra      8.8      ...              No     16.2           Yes
9  11/10/2007  Canberra      8.4      ...             Yes      0.0            No

[10 rows x 24 columns]
10th row is
            Date  Location  MinTemp      ...       RainToday  RISK_MM  RainTomorrow
361  10/27/2008  Canberra      9.0      ...              No      0.0            No
362  10/28/2008  Canberra      7.1      ...              No      0.0            No
363  10/29/2008  Canberra     12.5      ...              No      0.0            No
364  10/30/2008  Canberra     12.5      ...              No      0.0            No
365  10/31/2008  Canberra     12.3      ...              No      0.0            No

[5 rows x 24 columns]
          MinTemp     MaxTemp     ...         Temp3pm     RISK_MM
count  366.000000  366.000000     ...      366.000000  366.000000
mean     7.265574   20.550273     ...       19.230874    1.428415
std      6.025800    6.690516     ...        6.640346    4.225800
min     -5.300000    7.600000     ...        5.100000    0.000000
25%      2.300000   15.025000     ...       14.150000    0.000000
50%      7.450000   19.650000     ...       18.550000    0.000000
75%     12.500000   25.500000     ...       24.000000    0.200000
max     20.900000   35.800000     ...       34.500000   39.800000

[8 rows x 17 columns]
count          366
unique           1
top       Canberra
freq           366
Name: Location, dtype: object